<div class="container mt-4" style="max-width: 80%">
<h3 class="subtitle">Editar Perfil</h1><br>
  <div class="form-group col-6 p-2">
    <%= simple_form_for :profile do |f| %>
      <%= f.input :user_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= link_to "Voltar", new_profile_path(@user), class: "btn btn-primary btn-sm" %>
      <%= f.button :submit, "Salvar", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
