<div class="container mt-4" style="max-width: 80%">
  <h1 class="title mx-3">Meu Perfil</h1>
  <% if current_user.avatar.key? %>
      <%= cl_image_tag current_user.avatar.key, crop: :thumb, gravity: :face, class: "avatar-sm dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar-lg", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>
  <h3 class="subtitle"><%= current_user.full_name %></h1>
  <h3 class="subtitle"><%= current_user.email %></h1><br>
  <h3 class="subtitle"><%= current_user.user_name %></h1>
  <%= link_to "Editar perfil", new_profile_path(@user), class: "btn btn-primary btn-sm" %>
</div>
