<div class="wrapper">
  <div class= "container">
    <div class="d-flex justify-content-start mt-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="profile-logo" class="logo mt-3">
      <h1 class= "title mx-3">Meu Perfil</h1>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <div class="card col-8 px-4 py-2 mt-2">
        <% if current_user.avatar.key? %>
          <%= cl_image_tag current_user.avatar.key, crop: :thumb, gravity: :face, class: "avatar-sm dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar-lg", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <h3 class="subtitle">Dados pessoais <strong><%= current_user.user_name %></strong></h3>
        <p>Nome completo: <%= current_user.full_name %></p>
        <p>Email: <%= current_user.email %></p>
        <div>
          <%= link_to "Editar perfil", new_profile_path(@user), class: "btn btn-info btn-sm" %>
          <%= link_to "Página Inicial", root_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>
