<div class="card my-3">
  <% if note.note_category.name == "Evento" %>
    <div class="card-header" style="background-color:rgba(242, 204, 143, 0.3);">
      <%= note.note_category.name %>
    </div>
  <% else %>
    <div class="card-header" style="background-color:rgba(224, 122, 95, 0.2);">
      <%= note.note_category.name %>
    </div>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><small><%= note.title %></small></h5>
    <hr>
    <div class="d-flex justify-content-start">
      <i class="fa-regular fa-calendar px-2"></i>
      <small><p class="card-text"><%= note.format_date_note %></p></small>
    </div>
    <p class="card-text"><%= note.note_file.key  %></p>

    <%= link_to "Mais detalhes", note_path(note), class:"btn btn-info btn-sm" %>
  </div>
  <div class="card-footer text-muted">
    <small>Criado hรก <%= distance_of_time_in_words_to_now(note.created_at) %></small>
  </div>
</div>
