<p style="color: green"><%= notice %></p>

<div class="wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-8">
        <div class="form-login mb-4">
          <h2 class="mt-5 mb-3 title"><%= @note.title %></h2>
          <p><%= @note.content %></p>
          <div class="mt-5 mb-5">
            <% unless @note.note_file.key.nil? %>
            <a href="<%= cl_image_path(@note.note_file.key) unless @note.note_file.key.nil? %>" class="btn btn-info btn-sm" target="_blank">Abrir arquivo</a>
            <% end %>
            <%= link_to "Voltar para Mural de recados", notes_path, class:"btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>