<div class="container">
  <div class="d-flex justify-content-start mt-4">
    <img src="https://cdn-icons-png.flaticon.com/512/1259/1259768.png" alt="home-logo" class="logo mt-3">
    <h1 class="title mx-3"><%= current_user.user_name %></h1>
  </div>

  <div class="d-flex justify-content-around mt-5">

    <div class="col-5">
      <div class="box px-4 pb-2">
        <h4 class= "subtitle">Últimos recados</h4>
        <div>
          <% @last_notes.each do |note| %>
            <%= render note unless note.nil? %>
          <% end %>
        </div>
        <%= link_to "Mural de recados", notes_path, class:"d-grid btn btn-warning" %>
      </div>

      <div class="box px-4 py-2 mt-2">
        <h4 class= "subtitle">Meus agendamentos</h4>
        <ul id="lista-agenda">
          <div class="no-padding">
            <% @meetings.each do |meeting| %>
              <%= render meeting %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-7">
      <div class="box px-4 pb-3">
        <h4 class= "subtitle">Principais recursos</h4>
        <%= render "cards" %>
      </div>
    </div>

  </div>
</div>
