<div class="container" style="max-width: 500px;">

  <h2 class="title">Esqueceu sua senha?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions d-grid">
      <%= f.button :submit, "Recuperar minha senha", class:"btn btn-warning" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-3 pb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
