<div class="wrapper">
  <div class= "container">
    <div class="d-flex justify-content-start mt-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3176/3176395.png" alt="documents-logo" class="logo mt-3">
      <h1 class= "title mx-3">Eventos do mês</h1>
    </div>

    <%= month_calendar(events: @schedules, end_attribute: :end_time) do |date, schedules| %>
      <p><%= date %></p>
      <% schedules.each do |schedule| %>
        <div class="meeting">
          <small><small><small><p class="mb-0"><strong><%= schedule.kind %></strong></p></small></small></small>
          <small><small><p><%= schedule.name %></p></small></small>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-around mt-5 mb-5">
      <div>
        <%= link_to "Fazer uma reserva", new_meeting_path, class: "btn btn-success" %>
      </div>
      <div>
        <%= link_to "Meus agendamentos", schedules_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Página inicial", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
