<div class="card my-3">
  <div class="card-header">
    <%= document.document_category.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= document.title %></h5>
    <p class="card-text"><%= document.content %></p>
    <a href="<%= cl_image_path(document.document_file.key) %>" class="btn btn-info btn-sm" target="_blank">Abrir arquivo</a>
  </div>
  <div class="card-footer text-muted">
    <p>Criado hรก <%= distance_of_time_in_words_to_now(document.created_at) %></p>
  </div>
</div>
