<div class="wrapper">
  <div class= "container">
    <div class="d-flex justify-content-start mt-4 mb-4">
      <img src="https://cdn-icons-png.flaticon.com/512/1379/1379905.png" alt="documents-logo" class="logo mt-3">
      <h1 class= "title mx-3">Bazar</h1>
    </div>
    <div class="d-flex justify-content-around">
      <div class="w-75">
        <%= form_with url: detachments_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Encontre anúncios"
          %>
          <%= submit_tag "Buscar", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div>
        <%= link_to "Desapegue", new_detachment_path, class: "btn btn-success" %>
      </div>
      <div>
        <%= link_to "Página inicial", root_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="row my-5 row-cols-1 row-cols-md-3 g-4">
      <% @detachments.each do |detachment| %>
        <div class="col">
          <div class="card h-100 rounded">
            <%= cl_image_tag detachment.photo.key, width: 400, height: 300, crop: :pad, class: "card-img-top decoration-none", 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= link_to detachment.title, detachment_path(detachment), class: "subtitle" %></h5>
              <p class="card-text">Categoria do anúncio: <strong><%= detachment.detachment_category.name %></strong></p>
              <p class="card-text">Anunciante: <%= detachment.apartament.user.full_name %></p>
              <p class="card-text">Apto <strong><%= detachment.apartament.ap_number %></strong> | <%= detachment.apartament.floor %>º andar</p>
            </div>
            <div class="card-footer d-flex align-center">
              <small class="text-muted"><%= distance_of_time_in_words_to_now(detachment.created_at) %></small><div class="card-body">
               <% if current_user.apartament.id == detachment.apartament.id%>
                  <%= link_to "Editar", edit_detachment_path(detachment), class: "btn btn-info btn-sm"%>
                  <%= link_to "Excluir", detachment_path(detachment), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                <%end%>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
