
<div class="wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-8">
        <div class="form-login mb-4 text-center">
          <h2 class="my-5 title"><%= @detachment.title %></h2>
          <div class="my-3">
            <div class="row g-0 d-flex jusitfy-content-center">
            <% if @detachment.photo.key? %>
              <div class="col-md-4">
                <%= cl_image_tag @detachment.photo.key, width: 300, height: 200, crop: :pad, class: "card-img-top decoration-none", 'aria-haspopup': true, 'aria-expanded': false %>
              </div>
            <% end%>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title subtitle"><strong><%= @detachment.apartament.user.full_name %></strong></h5>
                  <div class="placa my-4">
                    <p>Contato: <strong><%= @detachment.apartament.user.email %></strong></p>
                    <p>Apto: <strong><%= @detachment.apartament.ap_number %></strong></p>
                    <p>Andar: <strong><%= @detachment.apartament.floor %></strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-4">
            <p><%= @detachment.description %></p>
          </div>
          <div style="background-color:#e0e1e2;">
            <p class="card-text"><small class="text-muted">Anunciado hรก <%= distance_of_time_in_words_to_now(@detachment.created_at) %></small></p>
          </div>
          <div class="mt-5 mb-5">
            <%= link_to "Voltar ao Bazar", detachments_path, class:"btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
